<!-- Header -->
<header class="site-header">
    <!-- Navbar -->
    <nav class="navbar">
        <!-- This is where you insert your logo. I added text here just as a place holder. -->
      <div class="brand">Zee's Place</div>
      <!-- This is the menu button that will appear when the screen size is small. 
       Feel free to replace it with an icon of your choosing. -->
      <button class="toggle-button" onclick="toggleMenu()">☰</button>
      <!-- The individual tabs, linking to their respective pages. -->
      <div class="navbar-links" id="nav-links">
        <a href="../index.html">Home</a>
        <a href="../pages/about.html">About Us</a>
        <a href="../pages/service.html">Our Services</a>
        <a href="../pages/contact.html">Contact Us</a>
      </div>
    </nav>
  </header>
  
